<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imgur_scaper API</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>API Documentation</h1>
        <nav>
            <ul>
                <li><a href="#documentation">Documentation</a></li>
                <li><a href="#developers">Developer's Info</a></li>
            </ul>
        </nav>
    </header>

    <section id="documentation" class="section">
        <h2>API Documentation</h2>
        <p>Welcome to the documentation for our Awesome API. Here you will find all the information you need to integrate with our API.</p>
        <!-- Insert API documentation here -->
        Get the imgur gallery id and add it in the web address of the API website 

    </section>

    <section id="developers" class="section">
        <h2>Developer's Info</h2>
        <div class="developer-info">
            <a href = 'https://www.github.com/Havoi'>Github</a>
        </div>
        <div class="developer-info">
            
        </div>
        <!-- Add more developer info sections as needed -->
    </section>

    <footer>
        <p>&copy; 2024 Imagur-Scraper API. All rights reserved.</p>
    </footer>
</body>
</html>
